In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
data_frame = pd.DataFrame(
    {
        'Age' : [66, 52, 22, 25, 44, 39, 26, 40, 53, 64, 58, 33],
        'Number of cars owned' : [1, 2, 0, 1, 0, 1, 1, 3, 2, 2, 2, 1],
        'Owns house' : [True, True, False, False, False, True, False, True, True, True, True, False],
        'Number of children' : [2, 3, 0, 1, 2, 2, 2, 1, 2, 3, 2, 1],
        'Martial Status' : ['widowed', 'married', 'married','single','divorced','married','single', 'married',
                           'divorced', 'divorced', 'married', 'single'],
        "Owns a dog" : ['no', 'no', 'yes', 'no', 'yes','yes', 'no', 'yes', 'no', 'no', 'yes', 'no'],
        'Bought a boat' : ['yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'no'],
    }
)

In [18]:
display(data_frame)

,Age,Number of cars owned,Owns house,Number of children,Martial Status,Owns a dog,Bought a boat
0,66,1,True,2,widowed,no,yes
1,52,2,True,3,married,no,yes
2,22,0,False,0,married,yes,no
3,25,1,False,1,single,no,no
4,44,0,False,2,divorced,yes,no
5,39,1,True,2,married,yes,no
6,26,1,False,2,single,no,no
7,40,3,True,1,married,yes,no
8,53,2,True,2,divorced,no,yes
9,64,2,True,3,divorced,no,no
10,58,2,True,2,married,yes,yes
11,33,1,False,1,single,no,no